.linkage-box {
    .input-group {
        width: 500px !important;
        word-wrap:break-word;

        .already-chosen {
            display: inline-block;
            width: 15%;
            line-height: 36px;
            margin: 0 5px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            text-align: left;
        }

        .clear-chosen {
            color: red;
            cursor: pointer;

            &:hover {
                text-decoration: underline;
            }
        }

        .color-gray {
            color: #999;
        }
    }

    .linkage-content {
        display: flex;
        width: 610px;
        border: #ccc solid 1px;

        .linkage-group {
            flex: 1;
            height: 250px;
            padding: 10px;
            overflow: auto;
            border-right: #ccc solid 1px;

            &:last-of-type {
                border-right: none;
            }

            .region-row {
                display: flex;
                align-items: center;

                .region-name {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 150px;
                    padding-top: 2px;
                    line-height: 22px;
                    cursor: pointer;

                    &:hover,
                    &.active {
                        background-color: #f4f4f4;
                    }

                    span {
                        width: 100%;
                        margin-left: 10px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                }
            }
        }
    }

    .linkage-title {
        display: flex;

        .name {
            flex: 1;
            text-align: left;
        }
    }
}
