.real-time-box {
  .search-group {
    display: flex;
    align-items: center;
    margin: 20px 0 30px;

    .group {
      margin-right: 10px;

      .export-button {
        font-size: 18px;
      }
    }
    
    .ant-select {
      position: relative;
    }

    .ant-select-second::after {
      content: "\E61D";
      display: block;
      position: absolute;
      top: 50%;
      right: 8px;
      transform: translate(0, -50%);
      font-family: anticon!important;
      font-size: 12px;
      color: rgba(0, 0, 0, 0.25);
    }
  }
}

.ant-select-tree li {
  margin-left: -18px;
}